[*.{cs,vb}]

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_event = false

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_field = false

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_property = false

# IDE0009: Member access should be qualified.
dotnet_style_qualification_for_method = false

# IDE0065: Misplaced using directive
csharp_using_directive_placement = outside_namespace

# IDE0161: Use file-scoped namespace
csharp_style_namespace_declarations = file_scoped:silent